body {
	/* Change font family */
	--font-default: "Noto Sans";
	--font-text: "Noto Sans";
	--font-text-theme: "Noto Sans";
	--font-interface: "Noto Sans";
	--font-interface-theme: "Noto Sans";
	
	/* Default font size*/
	--font-text-size: 12px;
	--font-ui-smaller: 10px;
	--font-ui-small: 12px;
	--font-ui-medium: 15px;
	--font-ui-large: 18px;
	font-size: var(--font-text-size);
	
	.content {
		font-size: 1em;
	}
	
	p {
		font-size: 1em;
	}

	em {
		font-size: 1em;
	}
}
