body {
	/* Change font family */
	--font-default: "Noto Sans";
	--font-text: "Noto Sans";
	--font-text-theme: "Noto Sans";
	--font-interface: "Noto Sans";
	--font-interface-theme: "Noto Sans";
	
	/* Default font size*/
	font-size: 12px;
	
	p {
		font-size: 1em;
	}

	em {
		font-size: 1em;
	}
}
