body {
	/* Change font family */
	--font-default: "Noto Sans";
	--font-text: "Noto Sans";
	--font-text-theme: "Noto Sans";
	--font-interface: "Noto Sans";
	--font-interface-theme: "Noto Sans";
	--font-monospace: "Noto Sans Mono";
	--font-monospace-default: "Noto Sans Mono";
	--font-monospace-theme: "Noto Sans Mono";
	
	/* Default font size*/
	--font-text-size: 12px;
	--font-ui-smaller: 10px;
	--font-ui-small: 12px;
	--font-ui-medium: 15px;
	--font-ui-large: 18px;
	font-size: var(--font-text-size);
	
	/* Set font color */
	--base-h: 0;
	--base-s: 0%;
	--base-l: 96%;
	--accent-h: 258;
	--accent-s: 88%;
	--accent-l: 66%;
	
	--text-accent: #8a5cf5 !important;
	strong {color: var(--text-normal);}
	a {color: var(--text-accent);}
	h1 {color: var(--text-accent);}
	
	/* Set font size */
	.content {font-size: 1em;}
	p {font-size: var(--font-text-size);}
	em {font-size: var(--font-text-size);}
	--h1-size: 2em;
	--h2-size: 1.7em;
	--h3-size: 1.4em;
	--h4-size: 1.3em;
	--h5-size: 1.2em;
	--h6-size: 1.1em;
	
	/* Image center align */
	img[alt*="center"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	img[alt*="float-right"] {
		float: right;
		clear: right;
		margin-left: 1rem;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		margin-top: 0px;
	}
	
	img[alt*="float-left"] {
		float: left;
		clear: left;
		margin-left: 0.5rem;
		margin-right: 1rem;
		margin-bottom: 0.5rem;
		margin-top: 0px;
	}
	
	/* Icons are always float right aligned */
	img[alt*="icon"] {
		width: 128px;
		float: right;
		clear: right;
		margin-left: 0.5rem;
		margin-right: 0px;
		margin-bottom: 0.5rem;
		margin-top: 0px;
	}
	
	img[alt*="thumbnail"] {
		width: 512px;
	}
	
	/* Modify embed vertical spacings */
	div.callout {
		margin-top: 8px;
		margin-bottom: 8px;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	/* Remove embed horizontal paddings */
	div.transclusion.internal-embed.is-loaded {
		padding: 0px;
	}

	/* Modify embed link position */
	a.markdown-embed-link {
		top: 0px;
		right: 0px;
		opacity: 0.5;
		padding: 2px;
		height: 20px !important;
		width: 20px !important;
	}

	/* Reduce div callout padding to compensate for p margin */
	div.callout-content {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	/* Add callout title top margin */
	div.callout-title {
		margin-top: 0.5rem;
	}
	
		.callout[data-callout="navigation"] {
		--callout-color: 223, 223, 223;
		--callout-icon: navigation;
	}
	
	.callout[data-callout="material"] {
		--callout-color: 223, 223, 223;
		--callout-icon: file;
	}
	
	.callout[data-callout-metadata*="badge"] {
		display: flex;
		align-items: flex-start;
		padding: 10px;
		width: fit-content;
		
		.callout-title-inner {
			display: none;
		}
		
		& > .callout-content p {
			margin-block-start: 0;
			margin-block-end: 0;
			margin-left: .5em;
		}
		
		& > .callout-title {
			min-height: 1em;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		
		& > .callout-icon {
			min-height: 1em;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	
	.callout[data-callout="empty"] {
		--callout-color: 223, 223, 223;
		--callout-icon: null;
		/* width: fit-content; */
	
		& > .callout-title {
			display: none;
		}
	}
	
	div.navbar-inner {
		margin-left: 20px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	/* Apply custom CSS class for entry card titles */
	.title {
		line-height: 1em;
		font-size: 1.5em;
		font-weight: bold;
	}
	
	/* Reduce page side margins */
	--file-margins: var(--size-4-2) var(--size-4-8);
	
	/* Remove 800px media width */
	@media (max-width: 800px) {
 		.navbar h1 {
        		font-size: var(--h1-size) !important;
		}
	}
}
